.dmc{
	font-size: 33px;
    font-family: fantasy;
    color: white;
}

.carousol-img{
	height: 400px;
}
.main-body{
	height: 100vh;
	background-color: #dddde0;
}
.user{
	margin: 28px;
    text-align: center;
    color: #191616;
}
.bt{
	
}

    